<!DOCTYPE html>
<head>
    <title>Airports</title>
    <link rel="stylesheet" href="style.css">
    <!--This is where css and script language goes-->
</head>


<body>

    <h1>Airports</h1>
    <div class="selection">
        <a href="index.html">Users</a>
        <a href="Airports.html">Airports</a>
        <a href="Cars.html">Cars</a>
        <a href="Parking_Spaces.html">Parking_Spaces</a>
        <a href="Rental_Orders.html">Rental_Orders</a>
        <a href="Rental_Orders_Details.html">Rental_Orders_Details</a>
    </div>

    <div id="dataView">
        <button class="addButton">Add</button>
        <table class="table">
            <tbody>
                <tr>
                    <th>airport_ID</th>
                    <th>name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <tr>
                    <th class="data">BOS</th>
                    <th class="data">Boston</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>

                </tr>

                <tr>
                    <th class="data">DFW</th>
                    <th class="data">Dallas-Fort Worth</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">JFK</th>
                    <th class="data">New York</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">ORD</th>
                    <th class="data">Chicago</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

            </tbody>
        </table>
        <table id="findAvailable">
            <label for="Airport">Find all available vehicles. Airport: </label>
            <label for="airports">Choose a car:</label>

            <select name="airports" id="airports">
                <option value="New York">New York</option>
                <option value="Chicago">Chicago</option>
            </select>
            <button class="findButton">Find</button>
        </table>
    </div>
    <div class="modal" id="myModal">
        <div class="modalContent">
            <span class="close">X</span>
            <form id="add">
                <legend class="legend"><strong>Add Airport</strong></legend>
                <label>Name</label>
                <input type="text">
                <label>ID</label>
                <input type="text">
            </form>
            <button class="confirm">Confirm</button>
            
        </div>
    </div>
    
</body>