<!DOCTYPE html>
<head>
    <title>Parking Spaces</title>
    <link rel="stylesheet" href="style.css">
    <!--This is where css and script language goes-->
</head>


<body>

    <h1>Parking Spaces</h1>
    <div class="selection">
        <a href="index.html">Users</a>
        <a href="Airports.html">Airports</a>
        <a href="Cars.html">Cars</a>
        <a href="Parking_Spaces.html">Parking_Spaces</a>
        <a href="Rental_Orders.html">Rental_Orders</a>
        <a href="Rental_Orders_Details.html">Rental_Orders_Details</a>
    </div>

    <div id="dataView">
        <button class="addButton">Add</button>
        <table class="table">  
            <!--For anyone reading this... this was as painful as it looks-->
            <tbody>
                <tr>
                    <th>parking_lot_space</th>
                    <th>airport_ID</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                <tr>
                    <th class="data">D5</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D6</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D7</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D8</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D9</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D10</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D11</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D12</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D13</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D14</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D15</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D16</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D17</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D18</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D19</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D20</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D21</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D22</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D23</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D24</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D25</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D26</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D27</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D28</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D29</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">D30</th>
                    <th class="data">BOS</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>
                
                <tr>
                    <th class="data">75</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">76</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">77</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">78</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">79</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">80</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">81</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">82</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">83</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">84</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">85</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">86</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">87</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">88</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">89</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">90</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">91</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">92</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">93</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">94</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">95</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">96</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">97</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">98</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">99</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">100</th>
                    <th class="data">DFW</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>
                
                <tr>
                    <th class="data">125E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">125W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">126E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">126W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>
                <tr>
                    <th class="data">127E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">127W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">128E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">128W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">129E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">129W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">130E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">130W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">131E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">131W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">132E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">132W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">133E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">133W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">134E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">134W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">135E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">135W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">136E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">136W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">137E</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">137W</th>
                    <th class="data">ORD</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N10</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N11</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N12</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N13</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N14</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N15</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N16</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N17</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N18</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N19</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N20</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N21</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N22</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N23</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N24</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N25</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N26</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N27</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N28</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N29</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N30</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N31</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N32</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N33</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>

                <tr>
                    <th class="data">N34</th>
                    <th class="data">JFK</th>
                    <th><button class="editButton">Edit</button></th>
                    <th><button class="deleteButton">Delete</button></th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal" id="myModal">
        <div class="modalContent">
            <span class="close">X</span>
            <form id="add">
                <legend class="legend"><strong>Add Parking Space</strong></legend>
                <label>parking_lot_space</label>
                <input type="text">
                <label>airport_ID</label>
                <input type="text">
            </form>
            <button class="confirm">Confirm</button>
            
        </div>
    </div>
</body>